<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue taskmanager</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>
<style>
    [v-cloak]{
        display: none;
    }
</style>
    <div id="app" class="container pt-5" v-cloak>
        <div class="card">
            <h1 :style="{ 
                color: inputValue.length < 5 ? 'red' : 'blue'
            }"> Counter: {{ counter }}</h1>
            <div>
                <button @click="counter++" class="btn primary">Plus</button>
                <button @click="counter--" class="btn danger">Minus</button>
            </div>
            <h2>{{message}} {{ todos.length}}</h2>
            <div class="form-control"> 
                <input 
                    type="text"
                    :placeholder="placeholderString" 
                    v-model="inputValue"
                    @keypress.enter="inputKeyPress" >
            </div>
            <button class="btn primary" @click="addNewNote">Add</button>
            <ol class="list pt-2" v-if="todos.length">
                <li class="list-item" v-for="(todo,i) in todos" :key="todo">
                  {{ i + 1}}. {{ todo }}
                  <button class="btn danger" @click="removeNote(i, $event)">Remove</button>
                </li>
              </ol>
              <div class="pt-2" v-else>
                  Any notes found, add a note
              </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>